<ion-menu contentId="main-content" side="start">
  <ion-header>
    <ion-toolbar> <!-- Color agregado -->
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <br>
      <br>
      <br>
      <br>
      <br>

      <ion-item routerLink="/historial">
        <ion-icon name="newspaper-outline" slot="start"></ion-icon>
        Historial
      </ion-item>
      <br>
      <br>
      <br>
      <br>
      <br>
      <ion-item href="assets/img/Organizadores gráficos - V .pdf">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        Manual de Usuario
      </ion-item>
      <br>
      <br>
      <br>
      <br>
      <ion-item href="assets/img/NJAM Green -webpage/index.html">
        <ion-icon name="globe-outline" slot="start"></ion-icon>
        Nuestra Página Web
      </ion-item>
      <br>
      <br>
      <br>
      <br>
      <br>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>
