ion-header {
    background: #ecfcfc; /* ✅ Color oscuro igual al header */
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
.historial-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #ecfcfc;
  }
  
  table {
    width: 100%;
    max-width: 400px;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: groove;
    overflow: hidden;
    color: #012112;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #ecfcfc;
  }
  
  th {
    background: #ecfcfc;
    color: #012112;
    font-size: small;
  }
  
  td {
    font-size: 14px;
  }
  
  .organico {
    color: green;
    font-weight: bold;
  }
  
  .inorganico {
    color: darkblue;
    font-weight: bold;
  }
  