/* Fondo general */
ion-content {
  --background: #ecfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}
/* Centrar completamente el contenedor */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* Asegurar que ion-content llena la pantalla */
ion-content {
  --background: #ecfcfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  max-width: 400px;
  padding: 20px;
}

/* Inputs */
ion-item {
  width: 100%;
  max-width: 320px;
  margin-bottom: 10px;
}

/* Botones */
ion-button {
  width: 100%;
  max-width: 320px;
}

/* Logo */
.logo {
  width: 100px;
  margin-bottom: 10px;
  margin-left: 5%;
}

.error {
  color: #d9534f;
  margin-top: 10px;
  text-align: center;
}

/* Título */
.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #024115;
  margin-bottom: 10px;
}

/* Inputs */
ion-item {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --background: #ffffff;
  --border-radius: 10px;
  --color: #10230a6f;
  --ion-item-background: #ffffff;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #2c6b3f;
  font-size: small;
}

ion-label {
  color: #2c6b3f;
  font-weight: bold;
}

/* Botón de iniciar sesión */
.boton {
  --background: #024115;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
  margin-top: 15px;
  width: 100%;
}

.boton:hover {
  transform: scale(1.05);
}

/* Separador */
.divider {
  text-align: center;
  margin: 15px 0;
  color: #261818;
}

/* Botón de Google */
.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  --background: ecfcfc;
  color: #2c6b3f;
  --border: 1px solid #072611;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
  width: 100%;
}

.google-button:hover {
  transform: scale(1.05);
}

/* Enlace de registro */
.register-link {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #2c6b3f;
}
/* Enlace de registro */
.registro-link {
  text-align: center;
  font-size: 14px;
  margin-top: 1.5rem;
  color: #1b5e20; // verde oscuro

  a {
    color: #66421a; // azul Google style
    font-weight: 600;
    text-decoration: none;
    margin-left: 4px;
    transition: 0.3s ease;

    &:hover {
      text-decoration: underline;
      color: #eec574;
    }
  }
}
//ojito
.toggle-password {
  font-size: 20px;
  color: #091c012c;
  cursor: pointer;
}