/* 🔷 Ajuste del menú lateral */
ion-menu {
  --background: #012112; /* ✅ Mismo color del header */
  --color: white;
  --width: 260px; /* Ajusta el ancho del menú */
}


/* 🔷 Encabezado del menú */
ion-header {
  --background: #012112; /* ✅ Color oscuro igual al header */
  color: white;
}

/* 🔷 Lista del menú */
ion-list {
  padding: 10px;
}

ion-item {
  --background: transparent;
  --color: white;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre icono y texto */
}

/* 🔷 Íconos en el menú */
ion-icon {
  font-size: 1.5rem;
  color: white;
}

/* 🔷 Mejor distribución de los elementos */
ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;  }
