.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ecfcfc;  /* fallback for old browsers */
   
  }
  
  .logo {
    width: 222px;
    height: auto;
  }
  
  .title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.2rem;
    font-weight: bold;
    color: #000000;
  }
  
  .slogan {
    font-family: 'Cedarville Cursive', serif;
    font-size: 2rem;
    font-style: italic;
    color: #000000;
  }
  