<ion-content>
  <div class="wrapper">
    <div class="container">
      <img src="assets/img/logo.png" alt="NJAM Green Logo" class="logo">
      <h1 class="title">Crear cuenta</h1>
      
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [type]="mostrarPassword ? 'text' : 'password'" [(ngModel)]="password"></ion-input>
        <ion-icon
          name="{{ mostrarPassword ? 'eye-off' : 'eye' }}"
          slot="end"
          class="toggle-password"
          (click)="togglePasswordVisibility()"
        ></ion-icon>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input [type]="mostrarConfirmPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword"></ion-input>
        <ion-icon
          name="{{ mostrarConfirmPassword ? 'eye-off' : 'eye' }}"
          slot="end"
          class="toggle-password"
          (click)="toggleConfirmPasswordVisibility()"
        ></ion-icon>
      </ion-item>
      
      <ion-button expand="full" class="boton" (click)="register()">Crear Cuenta</ion-button>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
      <p class="divider">ó</p>

      <ion-button expand="full" class="google-button" (click)="registerWithGoogle()">
        <ion-icon name="logo-google"></ion-icon>Registrarse con Google
      </ion-button>

      <p class="registro-link">
        ¿Ya tienes cuenta?
        <a routerLink="/login">Inicia Sesión</a>
      </p>                
    </div>
  </div>
</ion-content>
